
.board-content-wrapper {
    width: 510px;
}

.state-action-wrapper {
    width: 400px;
    height: fit-content;
    margin-top: 50px;
    margin-left: 50px;
    // border: 1px solid #DDD;
    // border-radius: 10px;
}